*~
.cabal-sandbox
cabal.sandbox.config
cabal.project.local
dist/
dist-newstyle/
.stack-work/

.ghc.environment.*

lib/Git.hs
static/about/index.html

# used to set up CIAO installation for tools Docker image 
ciao/