/*
 * sizes obtained by trial and error: will presumably break
 * if a different font is used, or if I change from number of
 * observations to exposure time.
 */

.floatable td:first-child {
    width: 28em;
}

.floatable td:last-child {
    width: 3em;
}

.floatable th:first-child {
    width: 15em;
}

.floatable th:last-child {
    width: 16em;
}
