/*
 * sizes obtained by trial and error: will presumably break
 * if a different font is used, or when more data is added
 * and the time values change.
 */

.floatable tr td:first-child {
    width: 11em;
}

.floatable tr td:last-child {
    width: 14em;
    /*
    border-left: solid 0.2em rgb(0, 131, 179);
    padding-left: 0.2em;
    */
}

/*
 * Experiment for constellation index page
.timeconstellations {
    stroke: cyan;
    opacity: 0.1;
}
*/
