/*
 * sizes obtained by trial and error: will presumably break
 * if a different font is used, or when more data is added
 * and the time values change.
 */

.floatable td:first-child {
    width: 11em;
}

.floatable td:last-child {
    width: 14em;
}

.floatable th:first-child {
    width: 11em;
}

.floatable th:last-child {
    width: 14em;
}

/*
 * Experiment for constellation index page
.timeconstellations {
    stroke: cyan;
    opacity: 0.1;
}
*/
