/* cumulative plot */

/*** axis styling is better in d3 v4
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
*/

.axis .tick {
    font-size: 150%;
}

path.cycle {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    opacity: 0.7;
}

path.cycleall {
    stroke-dasharray: 5, 5;
    stroke-width: 3px;
}

path.cycle:hover {
    stroke-width: 4px;
    opacity: 0.8;
}

/* allow legends to brighten when the correspond path is highlighted;
   this turns out to be a touch too subtle, but leave in for now */

.legend {
    opacity: 0.7;
}

.item-selected {
    opacity: 1;
}

/* box plot */

.box {
  font: 12px sans-serif;
}

.box text {
    stroke: rgb(0, 0, 0);
    stroke-width: 0px;
}

.box .cycle {
  font: 16px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  /* stroke: #000; */
  stroke-width: 1.5px;
  stroke-width: 2px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
    /*
  fill: none;
  stroke: #ccc;
   */
  fill: #ccc;
  stroke: none;
}

