.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  /* pointer-events: none; */
  pointer-events: all; /* not sure where best place for this is */
}

.link {
  fill: none;
  stroke: rgb(0, 131, 179);
  stroke-opacity: .2;
  cursor: pointer;
}

.link:hover {
  stroke-opacity: .5;
}

.waiting img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
