

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

// Thanks to
// http://stackoverflow.com/questions/13728513/how-to-include-links-in-a-d3-visualisations-text-element
// for the pointer-events tip
//
.node text {
  font: 10px sans-serif;
  pointer-events: all; // not sure where best place for this is
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

// Sankey diagram version

.snode rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

/* at present there is no link on the text node, so this is
   not needd, but leave in for now */
.snode text {
  /* pointer-events: none; */
  pointer-events: all; /* not sure where best place for this is */
}

.slink {
  fill: none;
  stroke: rgb(0, 131, 179);
  stroke-opacity: .2;
  cursor: pointer;
}

.slink:hover {
  stroke-opacity: .5;
}

