
div.cells {
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 1em;
}

.cell {
    /* from main.css:div#observation */
    /* background-color: rgba(0, 131, 179, 0.1); */
    background: rgba(0, 0, 0, 0.05);
    
    padding: 0.2em 0.5em;
}

/*
 * Use a 9-element color scheme from Cynthia Brewer's ColorBrewer site
 * http://colorbrewer2.org/#type=sequential&scheme=PuBu&n=9
 *
 * This (or one very like it) is used for the calendar view
 */

.q1 {
    background-color: #fff7fb;
    color: rgba(0, 0, 0, 0.8);
}

.q2 {
    background-color: #ece7f2;
    color: rgba(0, 0, 0, 0.8);
}

.q3 {
    background-color: #d0d1e6;
    color: rgba(255, 255, 255, 0.8);
}

.q4 {
    background-color: #a6bddb;
    color: rgba(255, 255, 255, 0.8);
}

.q5 {
    background-color: #74a9cf;
    color: rgba(255, 255, 255, 0.8);
}

.q6 {
    background-color: #3690c0;
    color: rgba(255, 255, 255, 0.8);
}

.q7 {
    background-color: #0570b0;
    color: rgba(255, 255, 255, 0.8);
}

.q8 {
    background-color: #045a8d;
    color: rgba(255, 255, 255, 0.8);
}

.q9 {
    background-color: #023858;
    color: rgba(255, 255, 255, 0.8);
}

.empty {
    /* background-color: rgba(0, 0, 0, 0); */
}

.header {
    font-weight: bold;
}

div.colorbar {
    display: flex;
}

div.colorbar span {
    height: 1em;
    width: 2em;
}

.hist {
    fill: rgba(70, 130, 180, 0.5);
    stroke: steelblue;  /* aka 70,130,180 or #4682b4 */
    stroke-width: 1.5px;
}

.all {
    fill: rgba(0, 0, 0, 0.2);
    stroke: rgba(0, 0, 0, 0.7);
    stroke-width: 2px;
}

.sel {
    display: none;
}
