#frame {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

#frame tr {
    vertical-align: top;
}
            
#content {
    width: 80%;
    padding: 1em;
   /*  background-color: #D8DADE; */    
}

#content h1 {
    color: #523015;
    border-bottom: 1px solid #cc0000;
}

#sidebar {
    width: 15%;
    white-space: nowrap;
    /***
    background-color: #fff;
    background-image: url(images/whitehouse.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    border-left: 1px solid #ccc;
    ***/
    border-right: 1px solid #ccc;
    padding: 1em;
}

/**
#view-panel {
    margin-top: 3em;
}

#view-panel table {
    border-spacing: 0px;
    border-collapse: collapse;
}

#view-panel h1 {
    border: none;
    font-size: 120%;
}

#view-panel h1 {
    border: none;
    background: none;
    padding: 0;
    margin: 1em 0;
}

#view-panel h2 {
    border: none;
    background: none;
    padding: 0;
    margin: 0.5em;
}

***/

.item {
    border: 1px solid #aaa;
    padding: 0.3em;
}

/***
div.thumbnail {
    border:     1px solid #aaa;
    padding:    1em;
    margin:     1em;
    width:      100px;
    height:     130px;
    text-align: center;
}

div.map-lens {
    width:      200px;
    height:     200px;
    text-align: center;
}

div.thumbnail div {
    height:     100px;
    overflow:   hidden;
}        

***/

div.exhibit-facet-body {
    /* background-color: #E3E6EC; */
    /* background-color: orange; */
    border: 1px solid #B8B8BB;
}

div.exhibit-facet-header {
    color: #523015;
    background-color: white;
}

.logo {
   text-align: center
}

div.item {
    margin-top: 0.7em; /* space for label */
    /* border: 2px solid rgb(0, 131, 179); */ /* #B8B8BB; */
    border: none;
}

/* wanted a "label embeded within the border" look similar to
   GtK+ widgets. */ 
div.item span.label {
    position: relative;
    top: 0.5em;
    left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: white;
}

div.item div.image {
    border: 2px solid rgb(0, 131, 179); /* #B8B8BB; */
    /*
    max-height: 300px;
    overflow: auto;
    */
}

.lens-table {
    width: 100%;
    /* top: -1em; */
    border: 2px solid rgb(0, 131, 179); /* #B8B8BB; */
    padding: 0.5em;
}

/* follow main.css div#Details table */
.lens-table tr:nth-child(even) {
    background: rgba(153,153,153,0.2);
}

.lens-table td {
   /* padding: 10px */
}

table.lens-table td.label {
    float: left;
}

table.lens-table td.value {
    float: right;
}

table.lens-table td.note {
    text-align: center;
    font-weight: bolder;
}

#exhibit h1 {
    text-align: center;
}
