
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    overflow: hidden;
}

/*
 * The "top" bar
 */
div#control {
    display: none;
    position: fixed;
    top: 0;
}

div#control ul {
    list-style-type: none;
    padding-left: 0.5em;
}

div#control ul li {
    /* float: left; */
}

li#control-goto {
    padding: 0.3em 0;
}

/* center this horizontally */
div#timeline {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    left: 50%;
    position: absolute;
    top: 1em;
    transform: translate(-50%, 0);
}

div#timeline span {
    background: white;
    padding: 0.2em 0.5em;
    text-align: center;
}

div#timeline a {
    cursor: pointer;
    text-decoration: none;
}

div#timeline span.timeline-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* Location of the cross hair (to some approximation during slews) */

div#location {
    background: white;
    display: none;
    padding: 0.2em;
    position: absolute;
    right: 1em;
    top: 1em;
}

/***
div#location-value , div#location-options {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 0.2em;
}
***/

div#location-value , div#location-options {
    padding-bottom: 0.2em;
}

div#location-options {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

div#location-value {
    text-align: center;
}

div#location-options {
    padding-top: 0.2em;
}

div#location-fov {
    padding-top: 0.2em;
}

/*
 * Text explaining the current (or selected) observation.
 * Should the border color change to reflect the observation state?
 */

div.statusPane {
    background: rgb(255, 255, 255, 0.6);
    /* border-color: white; */
    /* border-radius: 0.5em; */
    /* border-style: solid; */
    /* border-width: 2px; */
    padding-left: 0.5em;  /* if this changes, need to change margin-right/left in controlElements */
    padding-right: 0.5em;
    position: absolute;
}

/* should get re-integrated into the list above, but leave out for now
 * (was broken out as was re-using the above settings for other panes
 *  but currently not).
 */
div.statusPane {
    bottom: 2em;
    left: 2em;
    width: 25em;
    /*** apply the max height to the "contents" div, not this window,
         since this makes it easier to ensure we get a scroll bar.
    max-height: 20em;
    ***/
}

div.content div {
    overflow: auto;
    max-height: 15em;
}

/* These two are only really needed if the content overflows vertically */

div.content div p , div#Details {
    padding-right: 0.5em;
}

/* location of window-UI-like elements */

div.controlElements {
    background: rgba(255, 255, 255, 0.7);
    height: 1em;

    /* extend across the full "window"; should be -1 * #statusBar.padding */
    margin-left: -0.5em;
    margin-right: -0.5em;

    padding-bottom: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
}

span.title {
    color: rgba(3, 3, 3, 1.0);
    float: left;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
}

/* CSS window "widgets" */

.closable {
    background: #F55;  /* orangey-red ish */
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: 1em;
    width: 1em;
}

/* hideable and showable are assumed to be attached to this */
.switchable {
    cursor: pointer;
    float: right;
    height: 0;
    margin-right: 0.2em;
    width: 0;
}

/* down-pointing triangle */
.hideable {
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 1em solid #F55;
}

/* up-pointing triangle */
.showable {
    border-bottom: 1em solid #F55;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}

/* Style the list */

ul.sections {
    /* float: left; */
    /* display: contents; */
    list-style-type: none;
    margin-top: 0.5em; /* want this to be similar to statusPane.margin.left */
    overflow: auto;
    padding-left: 0;
}

ul.sections li {
    background: rgba(255, 255, 255, 0.7);
    border-right: 2px solid #AAA;
    float: left;
    /* height: 1em; */
    margin-right: 0;
    padding: 0 0.5em;
}

ul.sections li a {
    color: rgba(3, 3, 3, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

ul.sections li:last-child {
    border-right: none;
}

ul.sections li:hover a {
    /* color or background */
    color: rgba(3, 3, 3, 1);
}

ul.sections li.active a {
    font-weight: bold;
    color: rgba(3, 3, 3, 1);
}

div.content div p:first-child {
    margin-top: 0.5em;
}

/* fake a button; why, when we have HTML buttons? */

.button {
    background-color: rgba(217, 83, 79, 0.8);  /* red-ish */
    border: 1px solid rgb(212, 63, 58);
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-top: 0.4em;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    /* width: 100%; */
}

.button:hover {
    background-color: rgba(210, 35, 45, 0.8);
    border-color: rgb(172, 41, 37);
}

/*
 * Warning and error styles
 */
div.server-problem , div.no-current-response , div.lookup-failure {
    background: rgba(255, 255, 255, 1.0);
    border: 2px solid orange;
    font-size: larger;
    left: 50%;
    max-width: 50em;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    -webkit-transform: translate(-50%, -50%);
}

div.lookup-success {
    background: rgba(255, 255, 255, 1.0);
    border: 2px solid rgba(255, 255, 255, 0.2);
    left: 50%;
    max-width: 50em;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    -webkit-transform: translate(-50%, -50%);
}
