/*
 * Styling for the sky projection. Taken in part from 
 * http://bl.ocks.org/pnavarrc/9730300
 */

div#sky {
    display: block;

    height: 400px;

    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;

    width: 400px;
}

/***
.overlay {
    fill: #005fc7;
    fill-opacity: 0.4;
}
***/

.graticule {
    fill: none;
    /* stroke: #0053ad; */
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 1px;
}

.baseplane {
    /* fill: #060061; */
    /* fill-opacity: 0.4; */
    fill: #000;
    fill-opacity: 0.4;
}

.observation {
    /* fill: #fff; */
    fill: #d8b365;
    fill-opacity: 0.4;
}

.selected-observation {
    fill-opacity: 0.8;
    fill: red;
}

/* Indicate where the drag point is */
.dragpoint {
    /* fill: #a33;   red-ish */
    fill: #333333;
    fill-opacity: 1.0;
}

.milkyway {
    fill: #fff;
    fill-opacity: 0.3;
    stroke: #ccc;
    stroke-opacity: 0.6;
}

div.skyPane {
    background: white;

    bottom: 2em;
    
    /* cursor: grab; */

    /* if padding changes, need to change the margin-right/left
     * settings in controlElements */
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    position: absolute;

    right: 2em;
}

div.searchtype {
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
    width: 400px; /* match div#sky */
}

p.searchinfo {
    margin-top: 0.5em;
    width: 400px; /* match div#sky */
}

div.skyPane details {
    width: 400px; /* match div#sky */
}
